a{
    text-decoration:none;
}
input {
    border:1px solid grey;
    font-size:14px;
}
#container{
    width:100%;
    
}
#header {
    background:#F2F2F2;
    height:190px;
    border-bottom:1px solid #C2C2C2;
}
#header_inner {
    margin:0 auto;
    width:80%;
}

#nav_region {
    position:relative;
    background:url('../img/reg_menu_centre.png') repeat-x;
    height:38px;
}
#nav_region_left {
    background:url('../img/reg_menu_left.png') no-repeat;
    float:left;
}
#nav_region_right {
    background:url('../img/reg_menu_right.png') no-repeat;
    float:right;
}
#nav_region_centre {
    padding:0 10px;
    height:38px;
    float:left;
}
#header_search {
    position:relative;
}
#header_search_field {
    background:url('../img/header_search_field.png') no-repeat;
    padding:8px 20px;
    height:14px;
    width:220px;
    float:left;
}
#header_search_button {
    background:url('../img/header_search_button.png') no-repeat;
    display:block;
    text-indent:-9999em;
    float:left;
    height:30px;
    width:74px;
    position:relative;
    top:1px;
}
#header_search_button:active {
    background:url('../img/header_search_button.png') no-repeat 0px 1px;
}
.nav_region_side {
    position:relative;
    width:5px;
    height:38px;
}
#location_search{
    float:left;
}
#location_search_field{
    background:url('../img/loc_search_field.png') no-repeat;
    padding:8px 45px 8px 20px;
    margin:3px 0;
    width:190px;
}
.vert_separator{
    width:2px;
    height:30px;
    background:url('../img/vert_separator.jpg') no-repeat;
    float:left;
    margin: 3px 0;
}
#location_navigation{
    float:left;
    padding:7px 15px;
    font-size:17px;
    font-family: verdana;
}